* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eaf6f6;
}
.container {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 5vh;
}

.header h1 {
  font-size: 3rem;
  font-family: serif;
  margin-bottom: 20vh;
}

.content {
  border-radius: 5px;
  background-color: rgb(165, 246, 236);
  width: 45%;
  margin: auto;
  padding: 2rem 3rem;
}

.content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  align-items: center;
}
.input input {
  flex-basis: 90%;
  height: 2rem;
  border: 1px solid grey;
  border-right: none;
}
.input .copy {
  flex-basis: 10%;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid grey;
  border-left: none;
  background-color: white;
}
.input .copy:hover {
  opacity: 0.8;
}
.options {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
}
.options label {
  font-size: 1.2rem;
}
.content form .submitBtn button {
  width: 100%;
  background-color: aqua;
  height: 3rem;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .content {
    width: 90%;
  }
  .header h1 {
    margin-bottom: 10vh;
  }
  .input input{
    flex-basis: 100%;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 5px 7px;
    font-size: 1rem;
  }
  .input .copy{
    display: none;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .container {
    width: 100vw;
  }
  .content {
    width: 60%;
  }
  .header h1 {
    margin-bottom: 10vh;
  }
}
